openapi: 3.0.3
info:
  title: Catalog Service API
  version: 1.0.0
  description: |
    # Сервис Каталога (Catalog Service)

    Управление товарной матрицей, категориями, специальными предложениями (офферами) и отзывами.

    ## Архитектурные особенности
    - Database Per Service: Владеет схемой `db_catalog`.
    - Безопасность: Аутентификация выполняется на API Gateway. Сервис доверяет заголовкам `X-User-*`.
    - Взаимодействие: 
      - REST (внешний) для клиентов и админ-панели.
      - gRPC (внутренний) для резервирования товаров Order Service (не входит в эту спецификацию).

    ## Роли пользователей
    - `user`: Просмотр каталога, создание отзывов.
    - `staff`: Управление офферами своего заведения.
    - `admin`: Управление глобальными товарами и категориями.
  contact:
    name: Backend Team
    email: backend@company.com

servers:
  - url: https://api.gateway.com/catalog/v1
    description: Production (via API Gateway)
  - url: http://localhost:8002/catalog/v1
    description: Local Development

tags:
  - name: Health
    description: Проверка статуса сервиса
  - name: Categories
    description: Дерево категорий товаров (Admin)
  - name: Products
    description: Глобальная база товаров (Admin)
  - name: Offers
    description: Специальные предложения заведений (Staff/Public)
  - name: Reviews
    description: Отзывы пользователей (User/Public)

security:
  - GatewayAuth: []

components:
  securitySchemes:
    GatewayAuth:
      type: apiKey
      in: header
      name: X-User-ID
      description: |
        API Gateway валидирует JWT и добавляет заголовки.
        Required headers: X-User-ID, X-User-Role.
        Для публичных методов (GET) Gateway может передавать анонимный ID или сервис игнорирует проверку роли.
  headers:
    XUserID:
      schema:
        type: string
        example: "123456"
      description: ID пользователя из JWT
    XUserRole:
      schema:
        type: string
        enum: [user, staff, admin]
        example: "user"
      description: Роль пользователя
    XRequestID:
      schema:
        type: string
      description: ID для трассировки запроса

  schemas:
    # --- Common ---
    Error:
      type: object
      properties:
        code:
          type: string
          example: "VALIDATION_ERROR"
        message:
          type: string
          example: "Field 'price' is required"
        details:
          type: object
          additionalProperties: true

    Pagination:
      type: object
      properties:
        page:
          type: integer
          default: 1
        limit:
          type: integer
          default: 20
          maximum: 100
        total_count:
          type: integer

    # --- Categories ---
    Category:
      type: object
      properties:
        id:
          type: integer
          example: 10
        name:
          type: string
          example: "Выпечка"
        slug:
          type: string
          example: "bakery"
        parent_id:
          type: integer
          nullable: true
          description: ID родительской категории
        is_active:
          type: boolean
          default: true
        created_at:
          type: string
          format: date-time
    CategoryCreate:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
        slug:
          type: string
        parent_id:
          type: integer
          nullable: true
    CategoryUpdate:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        is_active:
          type: boolean
        parent_id:
          type: integer
          nullable: true

    # --- Products ---
    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: "Круассан с шоколадом"
        description:
          type: string
          nullable: true
        image_urls:
          type: array
          items:
            type: string
            format: uri
        characteristics_json:
          type: object
          description: "Произвольные характеристики (вес, кбжу, состав)"
          example: { "weight": "100g", "calories": "250" }
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    ProductCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        image_urls:
          type: array
          items:
            type: string
        characteristics_json:
          type: object
        category_ids:
          type: array
          items:
            type: integer
          description: "Список ID категорий для связи (product_categories)"
    ProductUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        image_urls:
          type: array
          items:
            type: string
        characteristics_json:
          type: object
        is_active:
          type: boolean
        category_ids:
          type: array
          items:
            type: integer

    # --- Offers ---
    OfferStatus:
      type: string
      enum: [active, sold_out, expired, cancelled]
    OfferItem:
      type: object
      properties:
        product_id:
          type: integer
        quantity:
          type: integer
          default: 1
          description: "Количество единиц товара в этом оффере"
    Offer:
      type: object
      properties:
        id:
          type: integer
        venue_id:
          type: integer
          description: "ID заведения владельца"
        current_price:
          type: number
          format: decimal
          example: 149.00
        original_price:
          type: number
          format: decimal
          example: 299.00
        quantity_available:
          type: integer
          example: 5
        expires_at:
          type: string
          format: date-time
        status:
          $ref: "#/components/schemas/OfferStatus"
        items:
          type: array
          items:
            $ref: "#/components/schemas/OfferItem"
          description: "Состав оффера (какие товары входят)"
        created_at:
          type: string
          format: date-time
    OfferCreate:
      type: object
      required: [venue_id, current_price, original_price, expires_at, items]
      properties:
        venue_id:
          type: integer
        current_price:
          type: number
        original_price:
          type: number
        quantity_available:
          type: integer
          default: 1
        expires_at:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: "#/components/schemas/OfferItem"
          minItems: 1
          description: "Минимум один товар в оффере"
    OfferUpdate:
      type: object
      properties:
        current_price:
          type: number
        original_price:
          type: number
        quantity_available:
          type: integer
        expires_at:
          type: string
          format: date-time
        status:
          $ref: "#/components/schemas/OfferStatus"
        items:
          type: array
          items:
            $ref: "#/components/schemas/OfferItem"
          description: "Полное перезаписание состава оффера"

    # --- Reviews ---
    Review:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        venue_id:
          type: integer
        order_id:
          type: integer
          description: "Уникальный ID заказа (unique constraint)"
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
          nullable: true
        images_json:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
    ReviewCreate:
      type: object
      required: [order_id, venue_id, rating]
      properties:
        order_id:
          type: integer
        venue_id:
          type: integer
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
          maxLength: 1000
        images_json:
          type: array
          items:
            type: string
    ReviewUpdate:
      type: object
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        images_json:
          type: array
          items:
            type: string

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: integer

paths:
  /health:
    get:
      tags: [Health]
      summary: Проверка работоспособности
      security: [] # Public health check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  version:
                    type: string
                    example: "1.0.0"

  # ================= CATEGORIES =================
  /categories:
    get:
      tags: [Categories]
      summary: Список категорий
      description: Публичный эндпоинт. Возвращает активное дерево категорий.
      security: [] # Public access
      parameters:
        - name: parent_id
          in: query
          schema:
            type: integer
            nullable: true
          description: "Фильтр по родителю (null = корневые)"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Category"
    post:
      tags: [Categories]
      summary: Создать категорию
      description: Только Admin. Создание новой категории.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryCreate"
      responses:
        "201":
          description: Категория создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "403":
          description: Forbidden (Requires admin role)
        "409":
          description: Conflict (Slug exists)

  /categories/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [Categories]
      summary: Детали категории
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "404":
          description: Not found
    patch:
      tags: [Categories]
      summary: Обновить категорию
      description: Только Admin. Частичное обновление.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryUpdate"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "403":
          description: Forbidden
        "404":
          description: Not found
    delete:
      tags: [Categories]
      summary: Удалить категорию
      description: Только Admin. Soft delete (deleted_at).
      responses:
        "204":
          description: Deleted
        "403":
          description: Forbidden
        "404":
          description: Not found

  # ================= PRODUCTS =================
  /products:
    get:
      tags: [Products]
      summary: Список товаров
      description: Публичный каталог. Можно фильтровать по категории.
      security: []
      parameters:
        - name: category_id
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
          description: "Поиск по названию"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
    post:
      tags: [Products]
      summary: Создать товар
      description: Только Admin. Глобальное создание карточки товара.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "403":
          description: Forbidden

  /products/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [Products]
      summary: Детали товара
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "404":
          description: Not found
    patch:
      tags: [Products]
      summary: Обновить товар
      description: Только Admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductUpdate"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "403":
          description: Forbidden
        "404":
          description: Not found
    delete:
      tags: [Products]
      summary: Удалить товар
      description: Только Admin. Soft delete.
      responses:
        "204":
          description: Deleted
        "403":
          description: Forbidden

  # ================= OFFERS =================
  /offers:
    get:
      tags: [Offers]
      summary: Список офферов
      description: Основной эндпоинт для пользователей. Фильтрация по заведению, статусу.
      security: []
      parameters:
        - name: venue_id
          in: query
          schema:
            type: integer
          description: "Фильтр по заведению"
        - name: status
          in: query
          schema:
            type: string
            enum: [active, sold_out, expired]
          description: "По умолчанию только active"
        - name: category_id
          in: query
          schema:
            type: integer
          description: "Фильтр по категории товаров внутри оффера"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Offer"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
    post:
      tags: [Offers]
      summary: Создать оффер
      description: |
        Только Staff. 
        Сотрудник заведения создает уценку. 
        Сервис валидирует venue_id через gRPC в Venue Service.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Offer"
        "400":
          description: Validation Error (e.g., price logic)
        "403":
          description: Forbidden (User not staff of this venue)
        "404":
          description: Venue or Product not found

  /offers/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [Offers]
      summary: Детали оффера
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Offer"
        "404":
          description: Not found
    patch:
      tags: [Offers]
      summary: Обновить оффер
      description: |
        Только Staff. 
        Можно изменить цену, количество, статус. 
        Нельзя изменить venue_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferUpdate"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Offer"
        "403":
          description: Forbidden
        "404":
          description: Not found
        "409":
          description: Conflict (e.g., changing sold_out offer)
    delete:
      tags: [Offers]
      summary: Удалить/Отменить оффер
      description: Только Staff. Меняет статус на 'cancelled'.
      responses:
        "204":
          description: Deleted/Cancelled
        "403":
          description: Forbidden

  # ================= REVIEWS =================
  /reviews:
    get:
      tags: [Reviews]
      summary: Список отзывов
      description: Публичный доступ. Можно фильтровать по venue_id.
      security: []
      parameters:
        - name: venue_id
          in: query
          schema:
            type: integer
        - name: user_id
          in: query
          schema:
            type: integer
          description: "Только для админа или самого пользователя"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Review"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
    post:
      tags: [Reviews]
      summary: Оставить отзыв
      description: |
        Только User. 
        Требуется завершенный заказ. 
        Проверка уникальности order_id на уровне БД.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Review"
        "400":
          description: Validation Error
        "409":
          description: Conflict (Review for this order already exists)
        "403":
          description: Forbidden (Order does not belong to user)

  /reviews/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [Reviews]
      summary: Детали отзыва
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Review"
        "404":
          description: Not found
    patch:
      tags: [Reviews]
      summary: Редактировать отзыв
      description: Только Author или Admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewUpdate"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Review"
        "403":
          description: Forbidden
        "404":
          description: Not found
    delete:
      tags: [Reviews]
      summary: Удалить отзыв
      description: Только Author или Admin. Soft delete.
      responses:
        "204":
          description: Deleted
        "403":
          description: Forbidden
        "404":
          description: Not found
